---
layout: index
title: Home
permalink: /
---



<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="new.css"> -->
<head>

<style>
.scservices img {
	height: 70px;
}
</style>

<body>
<div style="width:100%;height:auto;background:linear-gradient(rgb(46,1,43),rgb(250,8,0));">
<!-- <img src="img/pic1 A.jpg" style="width:100%;"> -->
</div>
<div class="container">
	<div class="row centerded main1" style="margin:20px;">

		<div class="col-lg-4 col-12" style="color:black;"><i class="fa fa-lightbulb-o" aria-hidden="true" style="font-size:60px;padding-left:30%;padding-bottom:20px;"></i><h2>GOALS</h2>
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the </p>
		</div>
		<div class="col-lg-4 col-12" style="color:black;"><i class="fa fa-money" aria-hidden="true" style="font-size:60px;padding-left:30%;padding-bottom:20px;"></i><h2>FUNDING</h2>
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the </p></div>
		<div class="col-lg-4 col-12" style="color:black;"><i class="fa fa-fire" aria-hidden="true" style="font-size:60px;padding-left:30%;padding-bottom:20px;"></i><h2>YOUTH EMPOWERMENT</h2>
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the </p></div>

	</div>
	<div class="row centered main2" style="margin-left:20px;">
		<div class="col-lg-6 col-12" style="color:black;"><i class="fa fa-users" aria-hidden="true" style="font-size:60px;padding-left:30%;padding-bottom:20px;"></i><h2>MANAGEMENT</h2>
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the </p></div>
		<div class="col-lg-6 col-12" style="color:black;"><i class="fa fa-laptop" aria-hidden="true" style="font-size:60px;padding-left:30%;padding-bottom:20px;"></i><h2>TECHNICAL SUPPORT</h2>
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the </p></div>
	</div>
</div>


<div class="container">
<div class="jumbotron">
<h1>About Us</h1>
<p>cIt has survived not only five centuries, but also the leap into electronic typesetting,</p>
<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn More</a></p>
</div>
</div>



<div class="scservices" id="scservices">

          <div id="NGOs">
            <div class="NGOs" data-aos="fade-up" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="500">
              <div class="NgoHeading">
                <h1>Goals</h1>
              </div>
				<div class="row">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,</p>
				<img src="img/1.jpg">
				</div>
			</div>
          </div>
          <div id="UTSAV">
            <div class="UTSAV" data-aos="fade-up" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="500">
              <div class="UtsavHeading">
                <h1>Funding</h1>
              </div>
			  <div class="row">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,    </p>
				<img  src="img/2.jpg">
			</div>
			</div>
          </div>
          <div id="EDUCATION">
            <div class="EDUCATION" data-aos="fade-up" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="500">
              <div class="EducationHeading">
                <h1>Youth Empowerment</h1>
              </div>
			  <div class="row">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
              </p>
				<img src="img/3.jpg">
			</div>
			</div>
          </div>
		  <div id="UTSAV">
            <div class="UTSAV" data-aos="fade-up" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="500">
              <div class="UtsavHeading">
                <h1>Management</h1>
              </div>
			  <div class="row">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
              </p>
				<img src="img/4.jpg">
				</div>
			  </div>
            </div>
						<div id="EDUCATION">
			            <div class="EDUCATION" data-aos="fade-up" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="500">
			              <div class="EducationHeading">
			                <h1>Technical Support</h1>
			              </div>
						        <div class="row">
			              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
								    cIt has survived not only five centuries, but also the leap into electronic typesetting,
			              </p>
							      <img src="img/5.jpg">
							      </div>
			            </div>
			          </div>

          <!-- </div>

        </div>
      </div> -->
</div>

</body>

{% include portfolio.html title="LATEST WORKS" limit=10 %}

<div class="container mtb">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-1">
            <h4>More About Our Agency.</h4>
            <p>{{ site.about }}</p>
            <p><br/><a href="{{ "/about/" | prepend: site.baseurl }}" class="btn btn-theme">More Info</a></p>
        </div>

      <!--  <div class="col-lg-3">
            <h4>Frequently Asked</h4>
            <div class="hline"></div>
            {% for question in site.questions %}
                <p><a href="{{ question.url | prepend: site.baseurl }}">{{ question.title }}</a></p>
            {% endfor %}
        </div>  -->

        <div class="col-lg-6">
            <h4>Latest Posts</h4>
            <div class="hline"></div>
            {% for post in site.posts limit:5 %}
                <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}.</a></p>
            {% endfor %}
        </div>

    </div><! --/row -->
</div><! --/container -->
