<div id="headerwrap">

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/NGO Logo 2.png" | prepend: site.baseurl }}" class="img-responsive">
            </div>
            <div class="col-lg-8 col-lg-offset-2">
                <div class="animated bounceInRight">
                    <h1>The official technical club.</h1>
                </div>
                <h3>&nbsp;we learn, we teach </h3>
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div>
